/* 전체적인 테이블 스타일 */
table {
  width: 80%;
  margin: 50px auto;
  border-collapse: collapse;
  font-family: 'Arial', sans-serif;
}

/* 테이블 헤더 스타일 */
/* th {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border: 1px solid #ddd;
} */

th {
  background-color: #119ce2;
  color: #ffffff;
  padding: 10px 15px;
  border: 1px solid #ddd;
}

/* 테이블 body 스타일 */
td {
  padding: 10px 15px;
  border: 1px solid #ddd;
  /* 가운데 정렬 */
  text-align: center;
}

/* 짝수 행 스타일 */
tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* 행에 마우스 오버시 스타일 */
tr:hover {
  background-color: #f5f5f5;
}

/* 제목 스타일 */
.table-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 20px;
}


/* 제목 스타일 */
.table-subtitle {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}
body {
  font-family: 'Arial', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5%;
  background-color: #119ce2;
}

.logo {
  color: #fff;
  font-size: 1.5rem;
}

.menu {
  list-style-type: none;
  padding: 0;
}

.menu li {
  display: inline-block;
  margin-left: 20px;
}

.menu a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
}

.menu a:hover {
  color: #e7f3fc;  /* 약간 밝게 조절된 색상으로 hover 효과를 주었습니다. */
}
